{% extends 'base.html' %}

{% block title%}Send Password Reset{% endblock %}

    {% block contents %}
    
    <div class="container">
        <div class="row">
            <div class="col offset-2 py-4">
            
                <h5>パスワードのリセット手順をメールで送信しました。
                メールはすぐに届きます。</h5>
                
                <br>
                <h6>
                メールが届かない場合は、登録済みのメールアドレスであるかを確認し、
                迷惑フォルダーも確認してみて下さい。
                </h6>
                
                <a href="{% url 'photo:index' %}">Photo Gallary</a>
            </div>
        </div>
    </div>
    
    {% endblock %}